---
import { Image } from 'astro:assets'

import SocialIcons from './SocialIcons.astro'


const {fullName, title, institute, profilePicture} = Astro.props
---
<div class='flex-1'>
  <h1 class='text-4xl font-bold mb-4'>
    Hola soy <span class='text-primary'>{fullName}</span>
  </h1>
  <p class='text-xl text-gray-600 mb-4'>{title}{institute ? ` at ${institute}` : ''}</p>
  <p class='text-lg mb-6'>
    Soy Ingeniero en informática especializado en el mundo del desarrollo web, 
    amante de diseño graﬁco y la programación. Con experiencia en Front-End y Back-end. 
    Me gusta estar en constante aprendizaje siempre buscando 
    oportunidades que me permitan ser un mejor profesional. Creo que es funda-
    mental en el  mundo de la tecnología estar en evolución constante, ya que cada 
    día te sorprende con algo nuevo.  
  </p>
  <div class='flex gap-4'>
    <SocialIcons />
  </div>
</div>
<div class='size-72 lg:block hidden'>
  <!-- Add your profile image -->
  <Image
    src={profilePicture}
    alt={fullName}
    class='w-full h-full mask mask-circle size-44'
  />
</div>
